doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 赎回
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/static/lib/mui.min.css')
    link(rel='stylesheet', type='text/css', href='/static/css/main.css')
    script(type='text/javascript', src='/static/lib/mui.js')
    script(type='text/javascript', src='/static/lib/util.js')
    script(type='text/javascript', src='/static/lib/moment.js')
    script(type='text/javascript').
      setAdaptive();
  body.assets-fund-redeem
    header#header.mui-bar.mui-bar-nav
      a.mui-icon.mui-icon-left-nav.mui-pull-left
      h1.mui-title 赎回
    .content-body
      ul.mui-table-view
        li.mui-table-view-cell
          span.label 基金名称
          span.placeholder.brown=fundName
        li.mui-table-view-cell
          span.label 赎回银行卡
          span.placeholder.brown=bankName+'（'+bankAccount.substr(-4,4)+'）'
      .mui-input-group
        .mui-input-row.border
          label 赎回份额
          input(type='number', placeholder='可赎回份额'+enableShares id="shares-input")
          .quick-btn#quick-btn 全部
      ul.mui-table-view
        li.mui-table-view-cell.border#selectSunBranch-btn
          a.mui-navigate-right
            span.label 开户支行名称
            span.value#vcBankname-text=vcBankname || branchBankName
      .other
       span.warn-icon i
       | 为了保障您的资金正常赎回到账，请检查下银行卡支行信息是否正确
      button#redeem-btn.mui-btn.mui-btn-warning.center(type='button')
        | 赎回
    .company-warn
        p 基金销售服务由杭州科地瑞富基金销售有限公司提供
        p 基金历史业绩不预示未来表现，市场有风险，投资需谨慎
    .mui-popup-backdrop
    .password-popup
      .password-popup-inner
        .password-popup-title 请输入交易密码
        .password-popup-box-wrap
          .box-item
            .point
          .box-item
            .point
          .box-item
            .point
          .box-item
            .point
          .box-item
            .point
          .box-item
            .point
        .password-popup-input
          input#password-input(type='number' placeholder='')
      .password-popup-buttons
        span.password-popup-button.cancel 取消
        span.password-popup-button.confirm 确定
    script(type='text/javascript', src='/static/js/commonBody.js')
    script(type='text/javascript').
      var limits = !{JSON.stringify(limits)};
    script(type='text/javascript', src='/static/js/fundRedeem.js')
