doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 申购结果
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='stylesheet', type='text/css', href='/static/lib/mui.min.css')
    link(rel='stylesheet', type='text/css', href='/static/css/main.css')
    script(type='text/javascript', src='/static/lib/mui.js')
    script(type='text/javascript', src='/static/lib/util.js')
    script(type='text/javascript').
      setAdaptive();
  body.assets-fund-redeemResult
    header#header.mui-bar.mui-bar-nav
      a.mui-icon.mui-icon-left-nav.mui-pull-left
      h1.mui-title 申请结果
    .content-body
      .step-wrap.step-2
        .step-1-wrap.step-index-wrap.active-right
          .right-bar
          .index-wrap ￥
          .step-content 赎回
        .step-2-wrap.step-index-wrap
          .left-bar
          .index-wrap
            span.mui-icon.mui-icon-checkmarkempty
          .step-content 确认
      ul.mui-table-view
        li.mui-table-view-cell
          .left 基金名称
          .right=fundName
        li.mui-table-view-cell
          .left 赎回份额
          .right=shares + '份'
        li.mui-table-view-cell
          .left 支付方式
          .right=bankName+'（'+bankAccount.substr(-4,4)+'）'
        li.mui-table-view-cell
          .left=orderDate
          .right=orderTime
    a#next-btn.mui-btn.mui-btn-warning.center(type='button') 完成
    //.other-text 15:00之前汇款有效
    script(type='text/javascript', src='/static/js/commonBody.js')
    script(type='text/javascript' src='/static/js/fundRedeemResult.js')
